:root {
  --cor1: #ded9e4;
  --borda-animada1: #b59cd3;
  --borda-animada2: #786295;
  --borda-animada3: #7E4CBA;
  --borda-animada4: #CAAAF0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: linear-gradient(45deg, rgba(219, 218, 233, 1) 0%, rgb(34, 32, 34) 45%, rgb(80, 73, 84) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 200% 500%;
  animation: gradient 10s ease infinite;
  font-family: 'Roboto Mono', monospace;
}

nav {
  display: flex;
  justify-content: end;
  margin-right: 7rem;
  margin-top: 2rem;
  gap: 15px;
}

nav i {
  color: var(--cor1);
  transform: rotateY(0deg);
  transition: all 0.7s;
  filter: drop-shadow(1px 2px 10px rgb(80, 73, 84));
}

nav i:hover {
  filter: drop-shadow(1px 2px 10px white);
  transform: rotateY(180deg);
  transition: all 0.7s;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20rem; */
}

.entrada {
  display: inline-block;
  padding-top: 10rem;
  text-align: center;
  font-weight: 100;
  cursor: default;
}

.entrada h1 {
  display: inline-block;
  font-size: 9em;
  padding: 0;
  margin: 0;
  color: var(--cor1);
  transition: transform 0.3s ease-in-out;
}

.entrada h1:hover {
  transform: translateY(-15px);
}

.entrada span {
  display: inline-block;
}

.entrada h2 {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  color: var(--cor1);
}


#e1 {
  font-size: 9em;
  color: var(--cor1);
}


#e2 {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 20px;
  color: var(--cor1);
  opacity: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EFEITO SCROLL */
.tag {
  opacity: 0;
  transform: translate(0, 30vh);
  transition: all 0.5s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* SOBRE MIM */
.about-me {
  width: 71.5%;
  text-align: justify;
  color: var(--cor1);
  margin-top: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.conteudo {
  padding: 1.8rem;
  font-weight: 200;
  font-size: 2rem;
}

.conteudo h2 {
  text-align: center;
  text-shadow: 1px 2px 3px white;
  margin: 0;
}

.conteudo strong {
  font-weight: 700;
}

.conteudo p {
  font-size: 24px;
  text-align: center;
}

.conteudo b {
  font-size: 26px;
}

.border {
  height: fit-content;
  width: fit-content;
  background: linear-gradient(90deg, var(--borda-animada1) 50%, transparent 50%), linear-gradient(90deg, var(--borda-animada3) 50%, transparent 50%), linear-gradient(0deg, var(--borda-animada4) 50%, transparent 50%), linear-gradient(0deg, var(--borda-animada2) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  padding: 10px;
  animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 60rem 100%, 0 15rem, 100% 0px;
  }

  100% {
    background-position: 15rem 0, 40rem 100%, 0 0, 100% 15rem;
  }
}

/* PROJETO */
.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 12.5rem 0 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card--projetos {
  text-align: center;
  color: var(--cor1);
  background-color: rgba(117, 116, 118, 0.277);
  border-radius: 4%;
}

.card--projetos h2 a {
  text-decoration: none;
  color: inherit;
}

.card--projetos h2:hover {
  text-shadow: 1px 2px 20px white;
}

.descricao {
  font-weight: 200;
  padding: 0 10% 1rem;
  text-align: justify;
  font-style: italic;
}

figure {
  display: flex;
  position: relative;
}

figure img {
  width: 100%;
  border-radius: 40px;
}

figcaption {
  margin-top: 1rem;
}

.artes {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  display: grid;
  place-content: center;
  transition: all .3s ease-in-out;
}

figure:hover .artes {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.artes ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: .7rem;
  justify-content: center;
}

.artes p {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 2px 20px white;
}

.artes ul li {
  padding: 10px 20px;
  background-color: rgb(26, 18, 30);
  border: dashed 2px #fff;
  font-weight: 700;
}

/* CONTATO */
.contato {
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 0.5rem;
  right: 0.1rem;
  width: 9.2rem;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(79, 79, 79, 0.5);
  transition: all 0.7s;
  visibility: hidden;
  transition: 0.7s;

}

.contato:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(79, 79, 79, 0.5);
  transform: scale(1.2);
  right: 1.3rem;
  transition: all 0.5s;
}

#contact.show {
  animation-name: aparecer;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  visibility: visible;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.email {
  text-decoration: none;
  color: rgb(30, 3, 44);
}

.email span {
  display: inline-block;
}

.estrela {
  animation: balancinho .75s alternate infinite;
}

@keyframes balancinho {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

/*
@keyframes pulsar {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }

  100% {
    transform: scale(.9)
  }
}
*/


@media (max-width: 1024px) {
  nav {
    justify-content: center;
    margin-right: 0;

  }

  .about-me {
    width: 90%;
  }

  .projetos {
    grid-template-columns: 1fr;
    padding: 0.7rem;
    gap: 4em;
  }

  .descricao {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 25px;
    line-height: 2.5rem;
  }

  .card--projetos h2 {
    font-size: 3rem;
  }


}

@media (max-width: 768px) {
  .entrada h1 {
    font-size: 3rem;

  }

  .entrada h2 {
    font-size: 1.2rem;
    margin-left: 0;
  }

  #e1 {
    font-size: 2rem;

  }

  #e2 {

    font-size: 1.5rem;
  }

  .border {
    padding: 0;
  }

  .about-me h2 {
    font-size: 2rem;
  }

  .about-me p {
    font-size: 1.2rem;
  }

  .descricao {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }

  .card--projetos h2 {
    font-size: 1.8rem;
  }

  figure img {
    border-radius: 0px;
  }

  .linguagens {
    border-radius: 0;
  }

  .contato {
    width: 15rem;
    height: 3.5rem;
    margin: 0 auto;
    position: unset;
  }
}

@media (max-width: 575.98px) {
  .entrada h1 {
    font-size: 2.4rem;
  }

  .entrada h2 {
    font-size: 1.2rem;
    margin-left: 0;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.letter {
  display: inline-block;
  animation: jump 0.5s ease-in-out alternate;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
.word {
  text-shadow: 4px 4px 0px #000, 6px 6px 0px #333;
} 
*/